.button {
    font:76%/150% "Lucida Grande", Geneva,Verdana, Arial, Helvetica, sans-serif;
    width:2.2em;
    font-size: 48px;
    text-align:center;
    white-space:nowrap;
}

.problem {
    font:76%/150% "Lucida Grande", Geneva,Verdana, Arial, Helvetica, sans-serif;
    font-size: 48px;
}
