<!doctype html>
<html ng-app>
  <head>
    <title>Zoo Math Drill</title>
    <script src="angular.min.js"></script>
    <script src="drill.js"></script>
    <link rel="stylesheet" href="drill.css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  </head>
  <body>
    <div ng-controller="DrillCtrl">
      <span class="problem">{{problem.front}} = </span>
      <br>
      <span ng-repeat="choice in problem.choices">
        <input class="button" type="button" ng-click="answer($event)" value={{choice}}>
      </span>
      <div>
        <img ng-src="images/{{imageIndex}}.jpeg"></img>
      </div>
      <div>Solved: {{solved}} Mistakes: {{mistakes}}</div>
      <div>Input domain:
        <span ng-repeat="item in domain">
          <input type="checkbox" ng-model="item.enabled" ng-change="domainChanged()">{{item.index}}</span>
      </div>
      <div>
        <input class="resetButton" type="button" ng-click="reset()" value="Start Over">
      </div>
    </div>
  </body>
</html>
